// Colours
$primary-1: #375486;
$primary-2: #5677AF;
$primary-3: #7193C8;
$primary-4: #98B6DF;
$primary-5: #DFE4EB;

$primary-6: #2C3C59;
$primary-7: #25344D;

$white: #fff;
$black: #000;

$grey-light-1: #efefef;
$grey-light-2: #f8f8f8;