.animation {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 63vh;
    z-index: 5;

    &__weather {
        text-align: center;
        z-index: 6;
        position: relative;

        svg {
            //animation: fadeIn 1s;
        }


    }

    &__weather--animate-01d, &__weather--animate-01n {
        animation: clearAnimation 1s cubic-bezier(.17,.67,.34,1.18);
        animation-fill-mode: backwards;   
    }

    &__weather--animate-02d, &__weather--animate-02n{
        #Weather-App >g {
            >g:nth-child(1) >g{
                opacity: 0;
                animation: fadeIn 1s .5s;
                animation-fill-mode: forwards;
            }
            >g:nth-child(2) >g >path{
                transform: translateX(-70vw);
                animation: moveRight 1s ease-out;
                animation-fill-mode: forwards;
            }
            >g:nth-child(3) >g >path{
                transform: translateX(70vw);
                animation: moveLeft 1s ease-out;
                animation-fill-mode: forwards;
            }
        }
    }

    &__weather--animate-03d, &__weather--animate-03n{
        #Weather-App >g {
            >g:nth-child(1) >g{
                opacity: 0;
                animation: fadeIn 1s .5s;
                animation-fill-mode: forwards;
            }
            >g:nth-child(2) >g >path{
                transform: translateX(-70vw);
                animation: moveRight 1s ease-out;
                animation-fill-mode: forwards;
            }
            >g:nth-child(3) >g >path{
                transform: translateX(70vw);
                animation: moveLeft 1s ease-out;
                animation-fill-mode: forwards;
            }
            >g:nth-child(4) >g >path{
                transform: translateX(70vw);
                animation: moveLeft 1s .3s ease-out;
                animation-fill-mode: forwards;
            }
        }
    }

    &__weather--animate-04d, &__weather--animate-04n{
        #Weather-App >g {
            >g:nth-child(1) >g >path{
                transform: translateX(-70vw);
                animation: moveRight 1s ease-out;
                animation-fill-mode: forwards;
            }
            >g:nth-child(2) >g >path{
                transform: translateX(70vw);
                animation: moveLeft 1s ease-out;
                animation-fill-mode: forwards;
            }
            >g:nth-child(3) >g >path{
                transform: translateX(70vw);
                animation: moveLeft 1s .3s ease-out;
                animation-fill-mode: forwards;
            }
        }
    }

    &__weather--animate-09d, &__weather--animate-09n {
        #Weather-App >g {
            >g:nth-child(1) >g{
                opacity: 0;
                animation: fadeIn .5s ease-out 5;
                animation-direction: alternate;
                animation-fill-mode: forwards;

                @for $i from 1 to 4 {
                    &:nth-child(#{$i}) {
                        animation-delay: (random(10)/10 + 1) + s;
                    }
                }
            }
            >g:nth-child(2) >g{
                opacity: 0;
                animation: fadeIn .5s ease-out 5;
                animation-direction: alternate;
                animation-fill-mode: forwards;

                @for $i from 1 to 4 {
                    &:nth-child(#{$i}) {
                        animation-delay: (random(10)/10 + 1) + s;
                    }
                }
            }
            >g:nth-child(3) >g >path{
                transform: translateX(-70vw);
                animation: moveRight 1s ease-out;
                animation-fill-mode: forwards;
            }
            >g:nth-child(4) >g >path{
                transform: translateX(70vw);
                animation: moveLeft 1s ease-out;
                animation-fill-mode: forwards;
            }
            >g:nth-child(5) >g >path{
                transform: translateX(70vw);
                animation: moveLeft 1s .3s ease-out;
                animation-fill-mode: forwards;
            }
        }
    }


    &__weather--animate-10d, &__weather--animate-10n, &__weather--animate-13d, &__weather--animate-13n {
        #Weather-App >g {
            >g:nth-child(1) >g >g{
                opacity: 0;
                animation: fadeIn .5s ease-out 5;
                animation-direction: alternate;
                animation-fill-mode: forwards;

                @for $i from 1 to 8 {
                    &:nth-child(#{$i}) {
                        animation-delay: (random(10)/10 + 1) + s;
                    }
                }
            }
            >g:nth-child(2) >g >g{
                opacity: 0;
                animation: fadeIn .5s ease-out 5;
                animation-direction: alternate;
                animation-fill-mode: forwards;

                @for $i from 1 to 8 {
                    &:nth-child(#{$i}) {
                        animation-delay: (random(10)/10 + 1) + s;
                    }
                }
            }
            >g:nth-child(3) >g >path{
                transform: translateX(-70vw);
                animation: moveRight 1s ease-out;
                animation-fill-mode: forwards;
            }
            >g:nth-child(4) >g >path{
                transform: translateX(70vw);
                animation: moveLeft 1s ease-out;
                animation-fill-mode: forwards;
            }
            >g:nth-child(5) >g >path{
                transform: translateX(70vw);
                animation: moveLeft 1s .3s ease-out;
                animation-fill-mode: forwards;
            }
        }
    }

    &__weather--animate-11d, &__weather--animate-11n {
        #Weather-App >g {
            >g:nth-child(1){
                opacity: 0;
                animation: lightnning .8s 1.5s ease-out 3;
                animation-direction: alternate;
                animation-fill-mode: forwards;
            }
            >g:nth-child(2){
                opacity: 0;
                animation: lightnning2 .8s 1.2s ease-out 3;
                animation-direction: alternate;
                animation-fill-mode: forwards;
            }
            >g:nth-child(3) >g >path{
                transform: translateX(-70vw);
                animation: moveRight 1s ease-out;
                animation-fill-mode: forwards;
            }
            >g:nth-child(4) >g >path{
                transform: translateX(70vw);
                animation: moveLeft 1s ease-out;
                animation-fill-mode: forwards;
            }
            >g:nth-child(5) >g >path{
                transform: translateX(70vw);
                animation: moveLeft 1s .3s ease-out;
                animation-fill-mode: forwards;
            }
        }
    }

    &__weather--animate-50d, &__weather--animate-50n {
        padding-top: 30vh;
        #Weather-App >g {
            >g:nth-child(1) >g >path{
                transform: translateX(-70vw);
                animation: moveRight 1s ease-out;
                animation-fill-mode: forwards;
            }
            >g:nth-child(2) >g >path{
                transform: translateX(70vw);
                animation: moveLeft 1s ease-out;
                animation-fill-mode: forwards;
            }
            >g:nth-child(3) >g >path{
                transform: translateX(70vw);
                animation: moveLeft 1s .3s ease-out;
                animation-fill-mode: forwards;
            }
        }
    }

    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        background: url(../img/animation/houseandmountain.svg) no-repeat center 100%;

        &--night{
            background-image: url(../img/animation/houseandmountain-n.svg);
        }
    }
}