.day-navigation {
    // visibility: hidden;
    // opacity: 0;

    height: 8rem;
    width: 101%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    z-index: 10;
    color: $primary-2;
    font-size: 1.5rem;
    font-weight: 100;
    background-image: linear-gradient(to right, $grey-light-2, $grey-light-1);

    transform: translateY(100%);

    transition: all .3s ease;

    &.active{
        // visibility: visible;
        // opacity: 1;
        transform: translateY(0);
    }

    &__day {
        flex: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
        cursor: pointer;
        position: relative;
        transition: all .5s;
        
        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(to right, #5677AF, #7193C8);
            z-index: 1;
            transform: scaleY(0) scaleZ(1);
            transform-origin: bottom;
            transition: all .2s ease-out;
            backface-visibility: hidden;
            
        }

        &--current {
            color: $grey-light-2;
            
            &:before{
                transform: scaleY(1) scaleZ(1);
            }
            
            
        }
    }

    &__text {
        position: relative;
        z-index: 5;
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        z-index: 5;
        
        &--01 {
            background-image:url( ../img/animation/weather/icon-01.svg );
        }
        &--02 {
            background-image:url( ../img/animation/weather/icon-02.svg );
        }
        &--03 {
            background-image:url( ../img/animation/weather/icon-03.svg );
        }
        &--04 {
            background-image:url( ../img/animation/weather/icon-04.svg );
        }
        &--09 {
            background-image:url( ../img/animation/weather/icon-09.svg );
        }
        &--10 {
            background-image:url( ../img/animation/weather/icon-10.svg );
        }
        &--11 {
            background-image:url( ../img/animation/weather/icon-11.svg );
        }
        &--13 {
            background-image:url( ../img/animation/weather/icon-13.svg );
        }
        &--50 {
            background-image:url( ../img/animation/weather/icon-50.svg );
        }

    }


}