
.header{
    background-image: linear-gradient(to right, $primary-2, $primary-1);
    color: #fff;
    text-align: center;
    padding: 2rem 10rem;
    clip-path: polygon(0 0, 100% 0, calc(100% - 10rem) 100%, 10rem 100%);
    &__main {
        font-weight: 100;
        font-size: 3rem;
    }

    &__sub {
        font-weight: 300;
        font-size: 1.5rem;
    }
}

.info-section{
    background-image: linear-gradient(to right, $primary-1, $primary-2);
    color: #fff;
    text-align: center;
    padding: 2rem 10rem;
    clip-path: polygon(10rem 0, calc(100% - 10rem) 0, 100% 100%, 0 100%);

    &__header{ 
        font-size: 2.5rem;
        font-weight: 100;
    }
    &__text{
        font-size: 1.4rem;
        p{
            &:not(:last-child){
                margin-bottom: 1rem;
            }
        }
    }
}

.phone-wrapper{
    background: url(../img/phone-mockup.svg) no-repeat center/contain;
    height: 600px;
    width: 295.5px;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    //padding: 103px 0;
    
}

.main-wrapper{
    position: relative;
    height: 76.3%;
    width: 86.6%;
    overflow: hidden;
    margin-top: 23.7%;
    //padding: 50px 30px;
}

.current-weather {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(to bottom, $grey-light-1, $grey-light-2);

    &::before {
        content: '';
        display: block;
        background-image: linear-gradient(to bottom, $primary-6, $primary-7);;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        visibility: hidden;

        //transition: all .3s;
    }

    &.night{

        &::before {
            opacity: 1;
            visibility: visible;
        }
        
    }

    &--active {
        filter: blur(7px);
    }
    &__search {
        padding-top: 25%;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        
        transition: all .3s;
        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
    &__input {
        display: block;
        background: none;
        width: 80%;
        margin: 0 auto;
        font-size: 4rem;
        color: $primary-4;
        text-align: center;
        font-weight: 100;
        border: none;
        border-bottom: 1px solid currentColor;
        padding-bottom: 1rem;
        position: relative;

        transition: all .2s;
        &:focus {
            outline: none;
            color: $primary-2;
        }
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $primary-4;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: $primary-4;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: $primary-4;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: $primary-4;
        }
    }
    &__button {
        //text-align: center;
        font-size: 2rem;
        color: $primary-2;
        font-weight: 300;
        display: none;
        padding: 1rem;
        margin: 0 auto;
        border: none;
        background-color:transparent;
        //box-shadow: 0 2px 3rem rgba(0,0,0,.05);
        border-radius: 4px;
        transform: translateY(1rem);
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &.active {
            display: block;
        }
    }
    &__text {
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        padding-top: 3rem;
        position: absolute;
        top: 0;
        width: 100%;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
    
    &__desc {
        text-transform: capitalize;
    }

    &__error {
        display: none;
        &--active {
            display: block;
        }

    }
    &__error-message{
        display: none;
        &--active {
            display: block;
        }
    }
}


.weather-forecast{
    display: none;
    height: 100%;
    background-image: linear-gradient(to bottom, $grey-light-2, $grey-light-1);
    position: relative;
    z-index: 10;

    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    color: $primary-1;

    &__charts {

        padding: 2rem 1rem;

        >svg{
          width: 100%;  
        }
        
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // &:not(:last-child) {
        //     border-bottom: 1px solid rgba(255,255,255,.5);

        // }
    }
}

.line {
    fill: none;
    stroke-width: 2px;
    &.temp {
        stroke: orangered;
    }
    &.pressure {
        stroke: steelblue;
    }
    &.humidity {
        stroke: blueviolet;
    }
}

.area {
    &.temp {
        fill: rgba(orangered, .8);
    }
    &.pressure {
        fill: rgba(steelblue, .8);
    }
    &.humidity {
        fill: rgba(blueviolet, .8);
    }
}

.domain {
    stroke: $primary-3;
}
.tick{
    color: blue;
    line{
        stroke: $primary-3;
    }
    text{
        fill: $primary-3;
    }
}